body {
}
.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}
.menuli .menuli_div
{
    display: none;
}
.menuli_hover .menuli_div
{
    display: block;
}

#main {
    position:relative;
    /* overflow: auto;*/
}

.Itemli
{
    width: 250px;
    border: 1px #C0C0C0 solid;
    box-shadow: 0 0 6px #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: 微软雅黑;
    color: #808080;
    text-decoration: none;
    align-content: center;
    display: list-item;
    position: relative;
    float: left;
}
.img {
    text-align: left;
    float: left;
    text-decoration: none;
    width :240px;
    height :auto;
    margin-left :auto ;
    margin-right :auto ;
}

.iframe {
    text-decoration: none;
}

.description {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    float: right;
    max-width: 300px;
}

.td {
    max-width: 300px;
}

#tiles {
    overflow: auto;list-style-type: none;
}
.navbar-Li-left {
    display: block; color: #333333;font-size: 14px;
}
.navbar-Li-right {
    display: block;  color: #333333;font-size: 20px;width: 600px;
}
.logo-main.navbar-brand  img{
}

body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
    list-style: none;
    color:inherit;
}
footer a.index-footer{
    color:inherit;
}
footer .foot-bottom a {
    color: white;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
footer{
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #2B2B2B;
    font-size: 12px;
    line-height: 1.4;
}
.is-relative{
    position: relative;
}
.row:before,.row:after{
    content:"";
    display:block;
    height:0;
    clear:both;
}
.song{
    font-family: "宋体";
    font-size: 14px;
}
.col-1{
    float: left;
    width: 12%;
}
.col-2{
    float: left;
    width: 19%;
}
.foot-contain{
    display: block;
    margin: 0 auto;
    max-width: 991px;
}
.a-block{
    display: block;
    width: 100%;
}
.foot-bottom .pad-left li{
    padding-left: 12px;
    /*padding-left: 24px;*/
}
footer .foot-top{
    color: #F95110;
    line-height: 30px;
}
footer .foot-line{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #444444;
}
footer .foot-bottom{
    padding: 1px 0 6px;
    color: #fff;
    line-height: 22px;
}
.foot-contain .img-box{
    position: absolute;
    right: 0px;
    top: -16px;
    width: 160px;
}
.foot-contain .img-box img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
footer .copyright_bar{
    background-color: white;
}
footer .copyright_bar .copyright-contain{
    display: block;
    margin: 0 auto;
    padding-bottom: 8px;
    width: 991px;
    padding-top: 5px;
    line-height: 18px;
}
footer .copyright-contain .img{
    float: right;
    width: 191px;
}
footer .foot-monbile{
    display: none;
}
.navbar>.container-fluid .navbar-brand.logo-main{
        height: 0;
        padding: 0;
        margin: 0;
}
.navbar-brand>.img-monbile{
    display: none;
}
.navbar-default .navbar-nav>li>a{
    color: #333333;
}
.navbar-brand>.img-pc {
    display: block;
    width: 200px;
}
@media screen and (max-width: 1000px){
    .navbar-brand>.img-monbile{
        display: block;
        width: 150px;
        margin-top: 15px;
    }
    .navbar-brand>.img-pc{
        display: none;
    }
}
@media screen and (max-width: 991px){
    footer .foot-pc{
        display: none;
    }
    footer .foot-monbile{
        display: block;
    }
    footer{
        padding:5px 0;
        line-height: 20px;
        text-align: center;
    }
    footer .Copyright{
        color: white;
        font-weight: bold;
    }
    footer .line{
        color: white;
        font-weight: bold;
    }
    footer a.footer_link{
        color: #FF7900;
    }
}
