/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: white;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 100%;
    background-color: white;
    margin: 0px auto 0px auto;
    border: 0px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: white;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
      height: 220px;
  width: 100%;
  background: #fff;
  position: relative;
  visibility: hidden;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}



.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

body{color:#000; font-size:13px; font-family:'Noto Sans', Arial, Helvetica, sans-serif; background:#FFF; margin:0; padding:0; min-width:320px; -webkit-overflow-scrolling: touch;}
.ZHCN, .ZHHK{font-family:'微軟正黑體', 'Microsoft JhengHei', SimHei, 'Noto Sans', Arial, Helvetica, sans-serif;}
#global_content{max-width:1360px;  margin:auto; position:relative; padding:0 12px; min-height:100%;}
#form{min-height:100%; overflow:hidden; position:relative}
/*FOOTER*/
#global_footer{height:220px; width:100%; background:#fff; position:relative; visibility:hidden}
.bottomNavLevel1{display:inline-block; float:left; padding:20px 20px; width:18%; padding:20px 1%}
#footer_links{background:#E1E1E1; width:75%; height:220px;}
.bottomNavLevel1Item a{color:#333; padding:0 0 10px; font-size:18px; text-decoration:none; -webkit-transition:0.2s ease-out; -moz-transition:0.2s ease-out; -o-transition:0.2s ease-out; transition:0.2s ease-out;}
#p_lt_lblFollowUsTitle{color:#333; padding: 20px; font-size:19px; display:block}
.bottomNavLevel1Item a:hover, .bottomNavLevel1Item a:focus{color:#666}
.bottomNavLevel1 ul, .bottomNavLevel1 li{ list-style:none; padding:0; margin:0}
.bottomNavLevel1 li a{color:#787878; text-decoration:none; font-size:14px; display:block;}
.bottomNavLevel1 li a:hover, .bottomNavLevel1 li a:focus{color:#000; -webkit-transition:0.3s ease-out; -moz-transition:0.3s ease-out; -o-transition:0.3s ease-out; transition:0.3s ease-out;}
#footer_socials{background:#D4D4D4; width:25%; position:absolute; right:0; top:0; height:220px;}
.footer_social{background-image:url(http://hk.k11.com/getmedia/bfbbfc31-960e-4053-bd99-88b7a3dfd5e4/footer_social.aspx); display:inline-block; width:28px; height:28px; background-size:180px; margin:10px 30px;}
.IE8 .footer_social{background-image:url(http://hk.k11.com/getmedia/a74b5bb6-eab9-413a-887b-d33733a17494/footer_social_ie8.aspx)}
.footer_fb{}
.footer_yt{background-position:-28px 0}
.footer_it{background-position:-56px 0}
.footer_wb{width:33px; background-position:-84px 0}
.footer_en{width:63px; background-position:-117px 0}
.footer_fb:hover, .footer_fb:focus{background-position:0 -28px}
.footer_yt:hover, .footer_yt:focus{background-position:-28px -28px}
.footer_it:hover, .footer_it:focus{background-position:-56px -28px}
.footer_wb:hover, .footer_wb:focus{background-position:-84px -28px}
.footer_en:hover, .footer_en:focus{background-position:-117px -28px}

#global_footer2{height:58px; width:100%; background:#fff; position:relative; color:#ccc}
#footer_socials h2{color:#878787; padding:20px}
#global_footer2 a{color:#666; text-decoration:none; margin:0 5px; padding:18px 0; display:inline-block}
#global_footer2 a:hover, #global_footer2 a:focus{color:#000; -webkit-transition:0.3s ease-out; -moz-transition:0.3s ease-out; -o-transition:0.3s ease-out; transition:0.3s ease-out;}
.footer_copyright{float:right; padding:18px 10px; color:#666; position:relative}
.copyRight{float:right; padding:20px 10px; color:#666666}
