<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Analysis.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <!--     
    <add name="EmailAlerterEntities" connectionString="metadata=res://*/k11Analysis.csdl|res://*/k11Analysis.ssdl|res://*/k11Analysis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SZ\SQL08R2;initial catalog=FaceBookForSEO;persist security info=True;user id=remote;password=123456;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmailAlerterEntities1" connectionString="metadata=res://*/DressLilyModel.csdl|res://*/DressLilyModel.ssdl|res://*/DressLilyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SZ\SQL08R2;initial catalog=EmailAlerter;persist security info=True;user id=remote;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmailAlerterEntities" connectionString="metadata=res://*/DressLilyModel.csdl|res://*/DressLilyModel.ssdl|res://*/DressLilyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SZ\SQL08R2;initial catalog=EmailAlerter;persist security info=True;user id=remote;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      -->
    <add name="EmailAlerterEntities" connectionString="metadata=res://*/DressLilyModel.csdl|res://*/DressLilyModel.ssdl|res://*/DressLilyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sz1;initial catalog=FacebookSeoForGroupBuyer;persist security info=True;user id=remote;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <Analysis.My.MySettings>
      <setting name="Analysis_SpreadWebRef_Spread_x0020_Web_x0020_Service" serializeAs="String">
        <value>http://localhost:92/Service.asmx</value>
      </setting>
    </Analysis.My.MySettings>
  </applicationSettings>
  <appSettings>
    <add key="SpreadWebServiceURl" value="http://service.rspread.com/Service.asmx" />
    <add key="imgFilePath" value="F:\FacebookSeoForGroupBuyer20171208\FacebookSEO\FacebookSEO\" />
    <add key="imgFileName" value="fbImage" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>