<div id="global_footer" style="visibility: visible;">
          <div class="bottomGrids">
          <div id="footer_links">
            <div class="bottomNavLevel1"><div class="bottomNavLevel1Item"><a href="http://hk.k11.com/sc/Klub11.aspx" title="Klub11">Klub11</a></div></div>
            <div class="bottomNavLevel1"><div class="bottomNavLevel1Item"><a href="http://hk.k11.com/sc/Art.aspx" title="艺术">艺术</a></div>
            <ul><li><a href="http://hk.k11.com/sc/Art/Encounter-11.aspx" title="Encounters 11">Encounters 11</a></li></ul>
            <ul><li><a href="http://hk.k11.com/sc/Art/Artist-List.aspx" title="艺术家">艺术家</a></li></ul>
            <ul><li><a href="http://hk.k11.com/sc/Art/Artist-Klub.aspx" title="Artist Klub">Artist Klub</a></li></ul>
            <ul><li><a href="http://hk.k11.com/sc/Art/K11-Kollection.aspx" title="K11 Kollection">K11 Kollection</a></li></ul>
            <ul><li><a href="http://hk.k11.com/sc/Art/musiK11.aspx" title="musiK11">musiK11</a></li></ul>
            <ul><li><a href="http://hk.k11.com/sc/Art/Artoid.aspx" title="Artoid">Artoid</a></li></ul></div>
            <div class="bottomNavLevel1"><div class="bottomNavLevel1Item"><a href="http://hk.k11.com/sc/Shopping.aspx" title="购物">购物</a></div>
            <ul><li><a href="http://hk.k11.com/sc/Shopping/Shop-List.aspx" title="购物总汇">购物总汇</a></li></ul>
            <ul><li><a href="http://hk.k11.com/sc/Shopping/Floor-Plan.aspx" title="商店位置">商店位置</a></li></ul></div>
            <div class="bottomNavLevel1"><div class="bottomNavLevel1Item"><a href="http://hk.k11.com/sc/Dining.aspx" title="尝悦">尝悦</a></div>
            <ul><li><a href="http://hk.k11.com/sc/Dining/Dining-List.aspx" title="美食一览">美食一览</a></li></ul>
            <ul><li><a href="http://hk.k11.com/sc/Dining/Floor-Plan.aspx" title="餐厅位置">餐厅位置</a></li></ul></div>
            <div class="bottomNavLevel1"><div class="bottomNavLevel1Item"><a href="http://hk.k11.com/sc/Today-in-K11.aspx" title="即日登场">即日登场</a></div>
            <ul><li><a href="http://hk.k11.com/sc/Today-in-K11/News-Event.aspx" title="资讯及活动">资讯及活动</a></li></ul>
            <ul><li><a href="http://hk.k11.com/sc/Today-in-K11/Promotions.aspx" title="精彩优惠">精彩优惠</a></li></ul>
            <ul><li><a href="http://hk.k11.com/sc/Today-in-K11/K11TV.aspx" title="K11TV">K11TV</a></li></ul></div>
            <div class="clearboth"></div>
        </div>
        <div id="footer_socials">
            <div class="followUsTitle"><span id="p_lt_lblFollowUsTitle">追踪我们</span></div>       
            <a href="https://www.facebook.com/k11ArtMall" class="footer_social footer_fb" target="_blank"></a>
            <a href="https://www.youtube.com/user/k11hongkong" class="footer_social footer_yt" target="_blank"></a>
            <a href="http://instagram.com/k11hk" class="footer_social footer_it" target="_blank"></a>
            <a href="http://weibo.com/k11hk" class="footer_social footer_wb" target="_blank"></a>
            <a href="http://hk.k11.com/sc/Special/eNews-Subscriptions.aspx" class="footer_social footer_en" target="_blank"></a>
        </div>
    </div>
    <div id="global_footer2">
        <span class="footermenu">
            <a class="" href="http://hk.k11.com/sc/Special/Contact-Us.aspx" title="联络我们" rel="nofollow">联络我们</a><span>|</span>
            <a class="" target="_self" href="http://hk.k11.com/sc/熱門搜索.aspx" title="热门搜索" rel="nofollow">热门搜索</a><span>|</span>
            <a class="" href="http://hk.k11.com/sc/Special/Our-Services.aspx" title="服务详情" rel="nofollow">服务详情</a><span>|</span>
            <a class="" href="http://hk.k11.com/sc/Special/Career.aspx" title="就业机会" rel="nofollow">就业机会</a><span>|</span>
            <a class="" href="http://hk.k11.com/sc/Special/Leasing.aspx" title="租务查询" rel="nofollow">租务查询</a><span>|</span>
            <a class="" href="http://hk.k11.com/sc/Special/Disclaimer.aspx" title="免责声明" rel="nofollow">免责声明</a><span>|</span>
            <a class="" href="http://hk.k11.com/sc/Special/Privacy-Policy.aspx" title="私隐权政策" rel="nofollow">私隐权政策</a><span>|</span>
            <a class="" href="http://hk.k11.com/sc/Special/Sitemap.aspx" title="网站地图" rel="nofollow">网站地图</a>
        </span>
        <div class="copyRight">Copyright &copy; 2014 K11. All Right Reserved.</div><span class="footermenu"></span>
    </div>
  </div>