<link rel="stylesheet" href="style.css">
<footer>
    <div class="foot-pc">
        <div class="foot-line"></div>
        <div class="foot-contain is-relative">
            <div class="foot-top">
                <ul class="row">
                    <li class="col-1">
                        <a class="index-footer" href="http://groupbuyer.com.hk/"><span>&gt;&nbsp;</span>主頁</a>
                    </li>
                    <li class="col-2"><span>&gt;&nbsp;</span>關於我們</li>
                    <li class="col-2"><span>&gt;&nbsp;</span>了解更多</li>
                    <li class="col-2"><span>&gt;&nbsp;</span>GroupBuyer</li>
                    <li class="col-2"><span>&gt;&nbsp;</span>關注我們</li>
                </ul>
            </div>
            <a class="img-box" href="http://groupbuyer.com.hk/zh/index">
                <img src="http://groupbuyer.com.hk/app/images/groupbuyer_small_logo.png" alt="">
            </a>
            <div class="foot-bottom">
                <ul class="row">
                    <li class="col-1">
                        &nbsp;
                    </li>
                    <li class="col-2 pad-left">
                        <ul class="row">
                            <li><a href="http://groupbuyer.com.hk/zh/about_us">有關 Group Buyer</a></li>
                            <li><a href="http://groupbuyer.com.hk/zh/promises"> Group Buyer 的承諾</a></li>
                            <li><a href="http://groupbuyer.com.hk/zh/contact_us">聯絡我們</a></li>
                            <li><a href="http://groupbuyer.com.hk/zh/signup">加入我們</a></li>
                        </ul>
                    </li>
                    <li class="col-2 pad-left">
                        <ul class="row">
                            <li><a href="http://groupbuyer.com.hk/zh/faq">常見問題</a></li>
                            <li><a href="http://groupbuyer.com.hk/zh/policy">條款與細則</a></li>
                            <li><a href="http://groupbuyer.com.hk/zh/tutorial">如何購買</a></li>
                        </ul>
                    </li>
                    <li class="col-2 pad-left">
                        <ul class="row">
                            <li><a href="http://groupbuyer.com.hk/zh/playback">過往團購</a> </li>
                            <li><a href="http://groupbuyer.com.hk/zh/discount">流動優惠劵</a> </li>
                            <li><a href="http://groupbuyer.com.hk/zh/promote">讓 Group Buyer 推廣您的業務</a> </li>
                            <li><a href="http://groupbuyer.com.hk/zh/media">媒體報導</a></li>
                        </ul>
                    </li>
                    <li class="col-2 pad-left">
                        <ul class="row">
                            <li><a href="http://www.facebook.com/GroupBuyer.com.hk">Facebook</a> </li>
                            <li><a href="http://twitter.com/GroupBuyerHK">Twitter</a> </li>
                            <li><a href="http://www.groupbuyer.com.hk/rss/">RSS</a> </li>
                            <li><a href="http://www.youtube.com/user/GroupBuyer/videos">YouTube Channel</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright_bar">
            <div class="copyright-contain row">
                <span>Copyright &copy; Group Buyer. All rights are reserved.</span>
                <img class="img" src="http://groupbuyer.com.hk/app/images/paypal_logo.png" alt="">
            </div>
        </div>
    </div>
    <div class="foot-monbile">
        <div>
            <span class="line">|</span><a class="footer_link" href="http://groupbuyer.com.hk/zh/hot">&nbsp;熱門團購&nbsp;</a>
            <span class="line">|</span><a class="footer_link" href="http://groupbuyer.com.hk/zh/playback">&nbsp;其他團購 &nbsp;</a>
            <span class="line">|</span><a class="footer_link" href="http://groupbuyer.com.hk/footer_link">&nbsp;轉換為電腦版 &nbsp;</a><span class="line">|</span>
        </div>
        <div class="Copyright">
            Copyright © Group Buyer. All rights are reserved.
        </div>
    </div>
</footer>
<!--<div id="global_footer" style="visibility: visible;">-->
    <!--<div class="bottomGrids">-->
        <!--<div id="footer_links">-->
            <!--<div class="bottomNavLevel1"><div class="bottomNavLevel1Item"><a href="http://hk.k11.com/tc/Klub11.aspx" title="Klub11">Klub11</a></div></div>-->
            <!--<div class="bottomNavLevel1"><div class="bottomNavLevel1Item"><a href="http://hk.k11.com/tc/Art.aspx" title="藝術">藝術</a></div>-->
                <!--<ul><li><a href="http://hk.k11.com/tc/Art/Encounter-11.aspx" title="Encounters 11">Encounters 11</a></li></ul>-->
                <!--<ul><li><a href="http://hk.k11.com/tc/Art/Artist-List.aspx" title="藝術家">藝術家</a></li></ul>-->
                <!--<ul><li><a href="http://hk.k11.com/tc/Art/Artist-Klub.aspx" title="Artist Klub">Artist Klub</a></li></ul>-->
                <!--<ul><li><a href="http://hk.k11.com/tc/Art/K11-Kollection.aspx" title="K11 Kollection">K11 Kollection</a></li></ul>-->
                <!--<ul><li><a href="http://hk.k11.com/tc/Art/musiK11.aspx" title="musiK11">musiK11</a></li></ul>-->
                <!--<ul><li><a href="http://hk.k11.com/tc/Art/Artoid.aspx" title="Artoid">Artoid</a></li></ul></div>-->
            <!--<div class="bottomNavLevel1"><div class="bottomNavLevel1Item"><a href="http://hk.k11.com/tc/Shopping.aspx" title="購物">購物</a></div>-->
                <!--<ul><li><a href="http://hk.k11.com/tc/Shopping/Shop-List.aspx" title="購物總匯">購物總匯</a></li></ul>-->
                <!--<ul><li><a href="http://hk.k11.com/tc/Shopping/Floor-Plan.aspx" title="商店位置">商店位置</a></li></ul></div>-->
            <!--<div class="bottomNavLevel1"><div class="bottomNavLevel1Item"><a href="http://hk.k11.com/tc/Dining.aspx" title="嚐悅">嚐悅</a></div>-->
                <!--<ul><li><a href="http://hk.k11.com/tc/Dining/Dining-List.aspx" title="美食一覽">美食一覽</a></li></ul>-->
                <!--<ul><li><a href="http://hk.k11.com/tc/Dining/Floor-Plan.aspx" title="餐廳位置">餐廳位置</a></li></ul></div>-->
            <!--<div class="bottomNavLevel1"><div class="bottomNavLevel1Item"><a href="http://hk.k11.com/tc/Today-in-K11.aspx" title="TODAY in K11">TODAY in K11</a></div>-->
                <!--<ul><li><a href="http://hk.k11.com/tc/Today-in-K11/News-Event.aspx" title="資訊及活動">資訊及活動</a></li></ul>-->
                <!--<ul><li><a href="http://hk.k11.com/tc/Today-in-K11/Promotions.aspx" title="精彩優惠">精彩優惠</a></li></ul>-->
                <!--<ul><li><a href="http://hk.k11.com/tc/Today-in-K11/K11TV.aspx" title="K11TV">K11TV</a></li></ul></div>-->
            <!--<div class="clearboth"></div>-->
        <!--</div>-->
        <!--<div id="footer_socials">-->
            <!--<div class="followUsTitle"><span id="p_lt_lblFollowUsTitle">追蹤我們</span></div>       -->
            <!--<a href="http://www.facebook.com/GroupBuyer.com.hk" class="footer_social footer_fb" target="_blank"></a>-->
            <!--<a href="http://www.youtube.com/user/GroupBuyer/videos" class="footer_social footer_yt" target="_blank"></a>-->
            <!--<a href="http://twitter.com/GroupBuyerHK" class="footer_social footer_it" target="_blank"></a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div id="global_footer2">-->
        <!--<span class="footermenu">-->
            <!--<a class="" href="http://hk.k11.com/tc/Special/Contact-Us.aspx" title="聯絡我們" rel="nofollow">聯絡我們</a><span>|</span>-->
            <!--<a class="" target="_self" href="http://hk.k11.com/tc/熱門搜索.aspx" title="熱門搜索" rel="nofollow">熱門搜索</a><span>|</span>-->
            <!--<a class="" href="http://hk.k11.com/tc/Special/Our-Services.aspx" title="服務詳情" rel="nofollow">服務詳情</a><span>|</span>-->
            <!--<a class="" href="http://hk.k11.com/tc/Special/Career.aspx" title="就業機會" rel="nofollow">就業機會</a><span>|</span>-->
            <!--<a class="" href="http://hk.k11.com/tc/Special/Leasing.aspx" title="租務查詢" rel="nofollow">租務查詢</a><span>|</span>-->
            <!--<a class="" href="http://hk.k11.com/tc/Special/Disclaimer.aspx" title="免責聲明" rel="nofollow">免責聲明</a><span>|</span>-->
            <!--<a class="" href="http://hk.k11.com/tc/Special/Privacy-Policy.aspx" title="私隱權政策"rel="nofollow">私隱權政策</a><span>|</span>-->
            <!--<a class="" href="http://hk.k11.com/tc/Special/Sitemap.aspx" title="網站地圖" rel="nofollow">網站地圖</a>-->
        <!--</span>-->
        <!--<div class="copyRight">Copyright © Group Buyer. All rights are reserved.</div><span class="footermenu"></span>-->
    <!--</div>-->
<!--</div>-->
