  <nav class="navbar navbar-default" >
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" style="height :50px;"  data-toggle="collapse" data-target="#bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      
          <a class="navbar-brand" href="http://hk.k11.com/" target="_blank">
              <img title="K11" src="http://hk.k11.com/getmedia/d1347fe0-93fe-4a53-a722-154cd7410489/logo.png.aspx?width=87&height=45&ext=.png" alt="K11" style="border-width:0px;" />
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            <ul class="nav navbar-nav navbar-right navbar-Li-left">
                <li ><a href="/"  style="color:#3e3e3e; text-decoration:none;">繁體</a> </li>
                <li><a href="http://hk.k11.com/sc/About-K11/About.aspx"  target="_blank" style="color:#3e3e3e; text-decoration:none;">关于我们</a></li>
                <li ><a href="http://hk.k11.com/sc/About-K11/Awards.aspx" target="_blank" style="color:#3e3e3e; text-decoration:none;">所得奖项</a></li>
                <li ><a href="http://hk.k11.com/sc/Today-in-K11/Promotions.aspx" target="_blank" style="color:#3e3e3e; text-decoration:none;">精彩优惠</a></li>
                <li ><a href="http://hk.k11.com/sc/Special/Parking.aspx" target="_blank" style="color:#3e3e3e; text-decoration:none;">泊车优惠</a></li>
                <li ><a href="http://hk.k11.com/sc/Special/Location.aspx" target="_blank" style="color:#3e3e3e; text-decoration:none;">K11 位置</a> </li>
                <li ><a href="http://hk.k11.com/sc/%E5%AA%92%E4%BD%93%E6%8A%A5%E9%81%93.aspx" target="_blank" style="color:#3e3e3e; text-decoration:none;">传媒报道</a></li>
                <li ><a href="http://www.k11designstore.com/?lang=schi" target="_blank" style="color:#3e3e3e; text-decoration:none;">K11 Designstore</a> </li>
                <li ><a href="http://hk.k11.com/sc/Pick11.aspx" target="_blank" style="color:#3e3e3e; text-decoration:none;">K11 Corporate</a></li>
            </ul>   
            <ul class="nav navbar-nav navbar-right navbar-Li-right">
                <li ><a href="http://www.klub-11.com/"  target="_blank" style="color:#3e3e3e; text-decoration:none;">Klub11</a></li>
                <li ><a href="http://hk.k11.com/sc/Art.aspx" target="_blank" style="color:#3e3e3e; text-decoration:none;">艺术</a></li>
                <li ><a href="http://hk.k11.com/sc/Shopping.aspx" target="_blank" style="color:#3e3e3e; text-decoration:none;">购物</a></li>
                <li ><a href="http://hk.k11.com/sc/Dining.aspx" target="_blank" style="color:#3e3e3e; text-decoration:none;">尝悦</a></li>
                <li ><a href="http://hk.k11.com/sc/Today-in-K11.aspx" target="_blank" style="color:#3e3e3e; text-decoration:none;">即日登场</a></li>
            </ul>
        </div>
    </div>
</nav>