<title>groupbuyer </title>
    <link rel="stylesheet" type="text/css" href="/Styles/K11style.css" />
    <meta name="description" content="香港groupbuyer致力于推荐最便宜的生活优惠和情报，因为购物是生活情趣，是享受，是生活情趣" /> 
    <meta name="keywords" content="groupbuyer,团购" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .paginator { font: 17px Arial, Helvetica, sans-serif;padding:20px 40px 20px 0; margin: 0px;}
        .paginator a {padding: 6px 12px; border: solid 1px #ddd; background: #fff; text-decoration: none;margin-right: 2px;color:#d9946e }
        .paginator a:visited {padding: 6px 12px; border: solid 1px #ddd; background: #fff; text-decoration: none;}
        .paginator .cpb {padding: 6px 12px;font-weight: bold; font-size: 16px;border:none}
        .paginator a:hover {color: #fff; background: #d4d4d4;border-color:#d4d4d4;text-decoration: none;}
    </style>