<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/Styles/K11style.css"/>
<link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/Styles/fancybox.css" />
<script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery.wookmark.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery.imagesloaded.js"></script>
<link rel="stylesheet" href="style.css">
<nav class="navbar navbar-default" id="test">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" style="height :50px;"  data-toggle="collapse" data-target="#bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo-main" href="http://groupbuyer.com.hk/" target="_blank">
              <img class="img-monbile" title="K11" src="http://groupbuyer.com.hk/app/images/mobile/icon_images/groupbuyer_logo.png" alt="groupbuyer" style="border-width:0px;" />
              <img class="img-pc" title="K11" src="http://groupbuyer.com.hk/app/images/logo.png" alt="groupbuyer" style="border-width:0px;" />
          </a>
        </div>
        <div class="collapse navbar-collapse nav-header" id="bs-navbar-collapse">
            <ul class="nav navbar-nav navbar-right navbar-Li-left">
                <li><a href="http://groupbuyer.com.hk/zh/categories/food"  target="_blank" >餐飲美食</a></li>
                <li><a href="http://groupbuyer.com.hk/zh/categories/beauty" target="_blank">美容保健</a></li>
                <li><a href="http://groupbuyer.com.hk/zh/categories/hitech" target="_blank">潮物科技</a></li>
                <li><a href="http://groupbuyer.com.hk/zh/categories/family" target="_blank">家居用品</a></li>
                <li><a href="http://groupbuyer.com.hk/zh/categories/beautyproduct" target="_blank">扮靚護膚</a></li>
                <li><a href="http://groupbuyer.com.hk/zh/categories/entertainment" target="_blank">消閑興趣</a></li>
                <li><a href="http://groupbuyer.com.hk/zh/categories/travel" target="_blank">旅遊觀光</a></li>
                <li><a href="http://groupbuyer.com.hk/zh/categories/fashion" target="_blank">潮流服飾</a></li>
            </ul>
            <div class="row"></div>
            <ul class="nav navbar-nav navbar-right navbar-Li-right">
                <li><a href="http://groupbuyer.com.hk/zh/index"  target="_blank">主頁</a></li>
                <li><a href="http://groupbuyer.com.hk/zh/latest" target="_blank">今日團購</a></li>
                <li><a href="http://groupbuyer.com.hk/zh/specialzh/hot" target="_blank">送禮精選</a></li>
                <li><a href="http://groupbuyer.com.hk/zh/luxury" target="_blank">時尚名牌</a></li>
                <li><a href="http://blog.groupbuyer.com.hk" target="_blank">網誌</a></li>
            </ul>
        </div>
    </div>
    </nav>