<!--
    K11位於<a href="http://hk.k11.com/tc/Special/Location.aspx" target ="blank" style ="text-decoration :none;">尖沙咀河內道18號</a>，
是以藝術為主題的<a href="http://hk.k11.com/tc/Shopping/Shop-List.aspx" target ="blank" style ="text-decoration :none;">尖沙咀購物商場</a>，
商場內有多間特色餐廳，讓你在購物的同時，
享盡豐富的<a href="http://hk.k11.com/tc/Dining/Dining-List.aspx" target ="blank" style ="text-decoration :none;">尖沙咀美食</a>，
還提供<a href="http://hk.k11.com/tc/Special/Parking.aspx" target ="blank" style ="text-decoration :none;">尖沙咀泊車</a>優惠。
   位于底部的描述
-->

