K11位于<a href="http://hk.k11.com/sc/Special/Location.aspx" target ="blank" style ="text-decoration :none;">尖沙咀河内道18号</a>，
是以艺术为主题的<a href="http://hk.k11.com/sc/Shopping/Shop-List.aspx" target ="blank" style ="text-decoration :none;">尖沙咀购物商场</a>，
商场内有多间特色餐厅，让你在购物的同时，
享尽丰富的<a href="http://hk.k11.com/sc/Dining/Dining-List.aspx" target ="blank" style ="text-decoration :none;">尖沙咀美食</a>，
还提供<a href="http://hk.k11.com/sc/Special/Parking.aspx" target ="blank" style ="text-decoration :none;">尖沙咀泊车</a>优惠。